.material-symbols-outlined {
  font-size: larger;
}

* {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.location-header {
  font-weight: bolder;
}

.temperature-indicator {
  margin: auto;
  font-size: 128px;
}

.weather-container {
  align-content: center;
}

#weather-chronology {
  gap: 1em;
}

.weather-p3 {
  font-weight: bolder;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}